$bg: #29222b;
$X: #ac45f4;
$O: #ffbc12;
$gray: #737781;
$shadow: #1e1920;
$shadowSize: 3px;
$btn: #4a3c4e;
$btnHover: #231d25;

h1 {
  font-size: 4.125em;
  margin: 0;
  padding: 0;
}

canvas {
  height: 90vh;
  pointer-events: none;
  position: absolute;
  top: -300%;
  left: 50%;
  width: 250%;
  transform: translate(-50%, 0%);
  z-index: 2;

  @media screen and (max-width: 1060px) {
    top: -200%;
    height: 100vh;
    width: 100vw;
  }

  @media screen and (max-width: 774px) {
    width: 100vw;
    height: calc(90vw + 400%);
  }
}

.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1060px) {
    width: 90%;
    height: auto;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 50%;
    margin: 0 2.5em;

    @media screen and (max-width: 1060px) {
      margin: 50px 0;
    }

    .left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 30px 0;
    }
  }

  & > div {
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 1060px) {
      flex-direction: column;
    }
  }
}

.board {
  .square {
    .X {
      margin: 0 auto;
      width: 85%;
      height: 85%;
      position: relative;
      transform: rotate(45deg);
      animation-duration: 0.75s;
      animation-name: bounceInX;

      &::before,
      &::after {
        content: '';
        position: absolute;
      }

      &::after {
        left: 50%;
        width: 34%;
        margin-left: -17%;
        height: 100%;
        border-radius: 10px;
      }

      &::before {
        top: 50%;
        left: 0;
        height: 34%;
        margin-top: -17%;
        border-radius: 10px;
        width: 100%;
      }
    }

    .O {
      margin: 0 auto;
      width: 85%;
      height: 85%;
      border-radius: 50%;
      position: relative;
      animation-duration: 0.75s;
      animation-name: bounceIn;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 1px solid black;
        width: 30%;
        box-shadow: inset $shadowSize $shadowSize 0px 0px $shadow;
      }
    }

    &:last-child {
      border-right: none;
    }
  }
}

@keyframes bounceInX {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) rotate(45deg);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(45deg);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(45deg);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03) rotate(45deg);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97) rotate(45deg);
  }

  to {
    opacity: 1;
    transform: scaleX(1) rotate(45deg);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
